{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load blogapp_tags %}
{% block body_class %}template-homepage{% endblock %}


{% block content %}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome To Our Studio!</div>
            <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
        </div>
    </header>
    {% posts_list %}
 
    <hr>
    <h1>To do create styles</h1>
    {% for advert_placement in page.aboutUs_placements.all %}
      <p>{{ advert_placement.aboutUs.title }}</p>
      <p>{{ advert_placement.aboutUs.body|richtext }}</p>
      
      {% if advert_placement.aboutUs.image %}
        {% image advert_placement.aboutUs.image fill-320x240 %}       
      {% endif %}

  {% endfor %}

{% endblock %}
